node_modules
.DS_Store
.env
dist
coverage
build
.vscode
.idea
*.log
npm-debug.log*
.vscode-server
*.swpsample_training/journal/
sample_training/diagnostic.data/
sample_training/.mongodb/
sample_training/.bash_history
